body {

    background-color: #777;
    font-family: Arial, 'helvetica neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;

    }   
.container {
    width: 100%;
}

    nav, header, footer {
        background-color: white;
        height: 50px;
        width: 100%;
        text-align: center;
    }

    header {
        margin: 10px;
        padding: 20px;
    }

    nav {
        margin: 10px;
        padding: 20px;
    }

   section {
        background-color: white;
        width: 45%;
        height: 290px;
        margin: 10px;
        float: left;
    }

    #article {
        background: grey;
        text-align: center;
        padding: 25px;
        margin: 10px;
        color: white;
    }

    #section-title {
        text-align: center;
        margin: 30px;
    }

    #headers, #paragraph {
        background: white;
        color: black;
        margin: 5px;
        padding: 1px;
    }

    aside {
        float: right;
        text-align: center;
        background-color: white;
        width: 45%;
        height: 290px;
        margin: 20px;
    

    }
        

    #aside {
        text-align: center;
       
    }

    footer {
        padding: 20px;
        background-color: white;
        text-align: center;
        margin: 30px;
        height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
   
    }

   
   
    

    



    
    
    
    
 



    